<!DOCTYPE html>
<html>
	<head>
		<!--<link rel="shortcut icon" href="/favicon.ico?date=1445360938" />-->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<title>Bifrost</title>

		<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
	<body>
		<div class="wrapper">
			<div>
				<h1>Welcome to Bifrost,</h1>

				<p>
					Number of files queued : <%= lengthQueue %>
				</p>

				<a href="#" class="btn btn-action">Force retry queue</a>
				<a href="#" class="btn btn-action">Clear queue</a>
			</div>
			<div>
				<h1>Pending requests: </h1>
				<% if (pendingQueue.length) { %>
				<ul>
					<% pendingQueue.forEach(function (request) { %>
					<li><%= request.url %> reason: <%= request.reason %> failed because: <%= request.status %></li>
					<% }) %>
				</ul>
				<% } %>
			</div>
		</div>
		
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>
